<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= Date.today %></p>
    <p><%= Charity.name %></p>
    <p>Dear <%= @user.fname %>,</p>
    <p>
     Thank you for participating in our auction.
     The auction was a great success! We were able to raise $<%= @funds_raised %>
     to fund further charitable activities.<br>
    </p>
    <p>
      A summary of your participation is below...
    </p>
    <h3>Auction Items Won:</h3>
    <p>Item <%= pluralize(@user.winning_bids.length, 'donor') %> will contact you
      via email to arrange delivery of item(s).
    </p>
    <table style="width:80%">
      <thead>
        <tr>
          <th style="text-align: left">Item Name</th>
          <th style="text-align: left">Winning Bid</th>
        </tr>
      </thead>
      <tbody>
        <% if @user.winning_bids.any? %>
          <% @user.winning_bids.each do |winning_bid| %>
            <tr>
              <td><%= winning_bid.item.name %></td>
              <td><%= winning_bid.bid.amount %></td>
            </tr>
          <% end %>
            <div>
              <tr>
                <td style="padding-top: 20px"><%= link_to "Pay for Items", @cart.paypal_url(root_url) %></td>
              </tr>
            </div>
        <% else %>
            <tr>
              <td>No items won</td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <p>We couldn't do this without your support. See you next time!</p>
    <p>Sincerely,</p>
    <p>The Sponsor</p>
  </body>
</html>