<h1>Charity Dashboard</h1>

<ul>
<% @auctions.each do |auction| %>
  <li><%= link_to "Summary of #{auction.name}", auction_path(auction) %></li>
<% end %>
  <li><%= link_to "Edit Charity Information", edit_charity_path %></li>
  <li><%= link_to "Review Donations", review_path %>
    <span class="badge"><%= @pending_items_count %></span></li>
  <li><%= link_to "Create New Auction", new_auction_path %></li>
</ul>









