<%= form_for @item do |f| %>
<%= render 'shared/error_messages' %>

<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div>
  <%= f.label :value, 'Amount: $' %>
  <%= f.number_field :value %>
</div>

<%= f.submit @item.new_record? ? 'Donate item' : 'Update donation' %>

<% end %>



