<h1>Items Up for Bid</h1>
<p>Please click on item name to view item details.</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Item</th>
      <th>Current Bid</th>
      <th>Do I Hear</th>
      <th>Bids</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to image_tag(item.photo.url(:thumb)), item_path(item) %></td>
        <td><%= link_to item.name, item_path(item) %></td>
        <td>$<%= item.high_bid.try(:amount) || 0 %></td>
        <td>$<%= item.next_bid_amount %></td>
        <td><%= item.bids.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
