<h1>Item Details</h1>
<h1><%= @item.name %></h1>
<div>
  Item Description:
</div>
<div>
  <%= @item.description %>
</div>

<% if @item.bids.count == 0 %>
<div>
  <%= "Start the Bidding!" %>
<% else %>
  <%= "Current Bid: $#{@item.current_bid}" %>
</div>
<div>
  Total Bids:
  <%= @item.bids.count %>
</div>
<% end %>

<%= render 'bid_form' %>