<h1>Item Details</h1>
<h1><%= @item.name %></h1>
<div>
  Item Description:
</div>
<div>
  <%= @item.description %>
</div>

<div>
  <%= @no_bids ? 'Start the Bidding!' : "Current Bid: $#{@item.current_bid}" %>
</div>
<div>
  Total Bids:
  <%= @bid_count %>
</div>


<%= render 'bid_form' %>