<h1><%= @item.name %></h1>
<div>
  <%= @item.description %>
</div>
<div>
  <%= @item.bids[-2].try(:amount) %>
</div>

<%= form_for(@item) do |f| %>
  <%= f.fields_for :bids do |ff| %>
    <% if ff.object.new_record? %>
      <%= ff.label :amount %>
      <%= ff.number_field :amount %>
    <% end %>
  <% end %>

<%= f.submit "Place Bid" %>
<% end %>