<h1>Item Details</h1>
<h1><%= @item.name %></h1>
<div>
  Item Description:
</div>
<div>
  <%= @item.description %>
</div>

<div>
  <% if @item.bids.count == 0 %>
    <%= "Start the Bidding!" %> 
  <% else %>
    <%= "Current Bid: $#{@item.current_bid}" %>
<div>
  Total Bids:
  <%= @item.bids.count %>
</div>
<% end %>
</div>

<%= render 'bid_form' %>