<h1>Item Details</h1>
<h1><%= @item.name %></h1>
<div>
  Item Description:
</div>
<div>
  <%= @item.description %>
</div>
  
<% if @item.bids.count == 0 %>
<div>
  <%= "Start the Bidding!" %>
<% else %>
  <%= "Current Bid $ #{@item.bids[-2].try(:amount)}" %>
</div>
<div>
  Total Bids:
  <%= @item.bids.count %>
</div>
<% end %>

<%= form_for(@item) do |f| %>
  <%= f.fields_for :bids do |ff| %>
    <% if ff.object.new_record? %>
      <%= ff.label :amount %>
      <%= ff.number_field :amount %>
    <% end %>
  <% end %>

<%= f.submit "Place Bid" %>
<% end %>