<h1>My Watchlist</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Item</th>
      <th>Current Bid</th>
      <th>My Bid</th>
      <th>Status</th>
      <th class="text-center">Outbid Notice</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'items/no_items' if @watch_list.empty? %>
    <% @watch_list.each do |item, details| %>
    <tr>
      <td><%= link_to image_tag(item.photo.url(:thumb)), item_path(item) %></td>
      <td><%= link_to item, item_path(item) %></td>
      <td>$<%= item.high_bid.try(:amount) || 0 %></td>
      <td>$<%= details[:user_bid] %></td>
      <td><%= details[:status] %></td>
      <% if details[:watch_list_item].wants_email %>
           <% symbol = ["glyphicon", "glyphicon-minus-sign"] %>
      <% else %>
           <% symbol = ["glyphicon", "glyphicon-plus-sign"] %>
      <% end %>
      <td class="text-center">
        <%= link_to watch_list_item_path(details[:watch_list_item].id),
                    method: :patch do %>
          <%= content_tag(:span, '', class: symbol) %>
        <% end %>
      </td>
      <td><%= link_to 'Remove Item',
              watch_list_item_path(details[:watch_list_item].id),
                       method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>