<h1>My Watchlist</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Item</th>
      <th>Current Bid</th>
      <th>My Bid</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @watch_list.each do |item, details| %>
    <tr>
      <td><%= image_tag item.photo.url(:thumb) %></td>
      <td><%= link_to item.name, item_path(item) %></td>
      <td>$<%= item.high_bid_amount || item.starting_bid %></td>
      <td>$<%= details[:user_bid] %></td>
      <td><%= details[:status] %></td>
      <td><%= link_to 'Remove', watch_list_item_path(details[:watch_list_item]),
                                method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>