<div class="page-header">
  <div class="row">
    <div class="col-md-1">
      <p><span class="glyphicon glyphicon-heart"></span>
      </p>
    </div>
    <div class="col-md-11">
      <h2>The Autism Research Foundation<br>
        <small>Northern California Chapter</small>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav navbar-nav pull-right layout-nav">
        <li><a href="#">Home</a></li>
        <li><%= link_to "Browse Items", items_path %></li>
        <li><%= link_to "Donate an Item", new_item_path %></li>
        <% if user_signed_in? %>
          <li><a href="#">My Watchlist</a></li>      
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>