<div class="page-header" style="background-color: <%= @charity.bg_color %>;">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @charity.logo.url(:thumb), class: "logo" %>
    </div>
    <div class="col-md-9">
      <h2><%= @charity.name%><br>
        <small><%= @charity.subhead %></small>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav navbar-nav pull-right layout-nav">
        <li><%= link_to "Browse Items", root_path %></li>
        <li><%= link_to "Donate an Item", new_item_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "My Watchlist", watch_list_items_path %></li>
          <li><%= link_to "My Donations", my_donations_path %></li>
          <li><%= link_to "Dashboard", dashboard_path if current_user.admin? %>
          <li><%= link_to "Sign Out (#{current_user})",
                         destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>